body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(
			0deg,
			rgba(38, 107, 255, 0.2),
			rgba(64, 154, 190, 0.8)
		),
		linear-gradient(67deg, rgba(38, 194, 255, 0.2), rgba(13, 40, 129, 0.8)),
		linear-gradient(180deg, rgba(26, 7, 109, 0.2), rgba(83, 181, 219, 0.8));
}

canvas {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	background-color: rgba(196, 214, 255, 0.664);
	/* box-shadow: 0 0 45px #1d2770; */
}
