body {
	background-color: beige;
	user-select: none;
}

canvas {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #2c1a10;
}

div {
	color: #2c1a10;
}

.play {
	cursor: pointer;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(calc(-50% - 30px), calc(-50% - 240px));
	font-size: 40px;
	filter: drop-shadow(2px 2px orange);
}

.play:hover {
	transform: translate(calc(-50% - 28px), calc(-50% - 238px));
	filter: none;
}

.stop {
	cursor: pointer;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(calc(-50% + 30px), calc(-50% - 240px));
	font-size: 40px;
	filter: drop-shadow(2px 2px orange);
}

.stop:hover {
	transform: translate(calc(-50% + 32px), calc(-50% - 238px));
	filter: none;
}
