html {
	cursor: none;
}

body {
	overflow: hidden;
	user-select: none;
	background-color: black;
}

.letter {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.letter p {
	font-size: 120px;
	color: black;
	filter: none;
	margin: 0;
}

.pointer {
	position: fixed;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	background-color: rgba(255, 255, 0, 0.8);
}
